@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #1A093E;
}

body {
  
  color: var(--foreground);
  background: var(--background);
  font-family: "poppins", sans-serif;
}
